
body{
    background-color: #FCEEC8 !important;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.pokeCard{
    width: 300px;
    background-color:#9EDEF9 !important;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.abilities{
    width: 70%;     
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #05a442;
    border-radius: 8px;
}